$cordefundo: #0c1424; //variável//
$corDeFundo: #130025;
$corTextoPrincipal: silver;
$corTextoSegundario:#f9f9f9;
$corDeFundoBotaoPrimario:#383004;
$corDeFundoBotaoSecundario: #383004;
$corDeFundoBotaoDark: #2b2401
    